<html>
<head>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'orgchart/style.css' %}">  
</head>
<body>
<h2><a href="{% url 'orgchart:index' %}">Home</a></h2>
<h2>Company Details</h2>
<p>Legal Name: {{ company.legal_name }}<br>Id: {{ company.company_id }}</p>

{% if cached == True %}
	<p style="color:red">This information was from the cache</p>
{% else %}
	<p style="color:green">This information was not from the cache</p>
{% endif %}

<h2><a href="{% url 'orgchart:company_detail_show' company.company_id %}">Org Chart</a></h2>

<h2>Employee Directory</h2>
{% for employee in company.person_set.all %}
	<a href="{% url 'orgchart:person_detail' employee.person_id  %}">{{ employee }}</a><br>
{% endfor %}

<h2><p style="color:red"><a href="{% url 'orgchart:company_delete' company.company_id %}" onclick="return confirm('Are you sure?')">Delete</a></p></h2>
</body>
</html>

