<html>
<head>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'orgchart/style.css' %}">  
</head>
<body>
<h2><a href="{% url 'orgchart:index' %}">Home</a></h2>
<h2>Company Details</h2>
<p>Legal Name: {{ company.legal_name }}<br>Id: {{ company.company_id }}</p>

<p>This information {{ cached|yesno:"was,wasn't" }} cached</p>

<h2><a href="{% url 'orgchart:company_detail_show' company.company_id %}">Org Chart</a></h2>

<h2>Employee Directory</h2>
{% for employee in company.person_set.all %}
	<a href="{% url 'orgchart:person_detail' employee.person_id  %}">{{ employee }}</a><br>
{% endfor %}

</body>
</html>

