{% block content %}

<h1>Org Chart App</h1>

{% if error_message %}<p style="color:red"><strong>{{ error_message }}</strong></p>{% endif %}

<form method="post">
 {% csrf_token %}
    {{ form.as_p }} <button type="submit">Sync with Zenefits</button>
</form>

<h2>Companies:</h2>
{% if companies %}
    <ul>
    {% for company in companies %}
        <li><a href="{% url 'orgchart:company_detail' company.company_id %}">{{ company.legal_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No companies found</p>
{% endif %}

{% endblock %}
